<h1>Entradas disponibles</h1>
<div class="row">
    <select class="form-select col-12 mb-3">
        <option value="" (click)="byCategory($event)">Todas las categorias</option>
        <option *ngFor="let category of categorias" (click)="byCategory($event)">{{category}}
        </option>
    </select>
</div>
<div class="row wrap">
    <div class="posted m-2 col-lg-3 col-md-5 col-sm-9" *ngFor="let post of listaPosts">
        <!--*ngFor="let _ of [].constructor(9)"-->
        <figure>
            <img [src]="post.imagen" alt="">
        </figure>
        <div>
            <h3>{{post.titulo}}</h3>
            <p><span>Categoría: {{post.categoria}}</span></p>
            <p class="texto"> {{post.texto}}</p>
            <p> <span>{{post.autor}}</span> {{post.fecha}}</p>
        </div>
    </div>
</div>