img {
    display: block;
    width: 100%;
    height: auto;
}

figure {
    width: 100%;
    height: auto;
    background-color: tomato;
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.wrap {
    display: flex;
    justify-content: center;
}

.listado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.texto {
    max-height: 100px;
    overflow: scroll;
}

.posted {
    /* width: calc(30% - 10px); */
    border: 1px solid black;
    padding: 10px 10px 0px 10px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #a19f9f;
}

.posted>div {
    width: 100%;
    padding: 0px 5px;
}

.posted span {
    font-style: italic;
}